.container__login {
  width: 100%;
  height: 100vh;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container__login > .card__form {
  padding: 30px 29px;
  background: white;
  height: 450px;
  width: 370px;
  box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 3px 1px -2px rgb(0 0 0 / 12%);
}

.card__form > form > .group{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
form > .group > input {
  padding: 4px;
  margin: 10px;
  border-style: none;
  border-bottom: 1px solid gray;
  
}
form > .group > input[type="submit"] {
  padding: 4px;
  margin: 10px;
}
.primary__color {
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 4px;
}
.elaborado{
  font-size: 12px;
}